body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(54, 50, 52);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr{
  background-color: gray;
  border: .2px solid transparent;
  outline: none;
  width: 95%;
}

.login{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(54, 50, 52);
}

.login > button {
  width: 200px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: rgb(153, 42, 84);
  border: none;
  padding: 1rem;
  border-radius: 5px;
}

.login > button:hover{
  cursor: pointer;
  background-color: rgb(216, 87, 135);
}

.logout{
  width: 100vw;
  height: 50px;
  background-color: rgb(54, 50, 52);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0px 4px 7px rgb(27, 27, 27);
}

.logout > button {
  width: 200px;
  height: 40px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: rgb(153, 42, 84);
  border: none;
  border-radius: 5px;
}

.logout > button:hover{
  cursor: pointer;
  background-color: rgb(216, 87, 135);
}

.logout > h3{
  color: white;
}

.form-chat{
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: .5rem auto;
}

.form-chat > input[type="text"]{
  width: 90%;
  margin-right: .5rem;
  padding: .5rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(27, 27, 27);
  color: white;
}

.form-chat > input[type="text"]:focus{
  outline-style: solid;
  outline-color: rgb(65, 62, 62);
}

.form-chat > button[type="submit"]{
  width: 10%;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: rgb(153, 42, 84);
  border: none;
  border-radius: 5px;
}

.form-chat > button:hover{
  cursor: pointer;
  background-color: rgb(216, 87, 135);
}

.chat-conteiner{
  height: 75vh;
  width: 100%;
  margin: .5rem auto;
  overflow-y: scroll;
}

.chat-conteiner::-webkit-scrollbar{
  background-color: rgb(56, 53, 53);
  border-radius: 20px;
}

.chat-conteiner::-webkit-scrollbar-thumb{
  background-color: rgb(66, 66, 66);
  border-radius: 20px;
}


.message-user{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 3rem;
  padding: 1rem;
  color: white;
  font-weight: bold;
}

.message-outside{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin: 0 3rem;
  padding: 1rem;
  color: white;
  font-weight: bold;
}

.message-user > img,
.message-outside > img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 50%;
}

.message-outside > img{
  margin-top: 12px;
}

.message-avatar{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-avatar > p{
  margin-bottom: -4px;
}

.message-user > .message-avatar > .message-name{
  font-size: 12px;
  color: rgb(153, 42, 84);
  justify-self: end;
  align-self: flex-end;
}

.message-outside > .message-avatar > .message-name{
  font-size: 12px;
  color: rgb(153, 42, 84);
  justify-self: end;
  align-self: flex-start;
}

.message-user > .message-avatar > .message-message{
  align-self: flex-end;
}

.message-message{
  font-size: 10px; 
}

.chat-beginning-conteiner{
  width: 100%;
  text-align: center;
}

.chat-beginning{
  width: 30%;
  margin: auto;
  color: white;
}

@media screen and (max-width:450px) {
  .form-chat > input[type="text"]{
    width: 80%;
    margin-right: .5rem;
    padding: .5rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(27, 27, 27);
    color: white;
  }

  .form-chat > button[type="submit"]{
    width: 15%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgb(153, 42, 84);
    border: none;
    border-radius: 5px;
  }

  .message-user{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0 1rem;
    padding: 1rem;
    color: white;
    font-weight: bold;
  }
  
  .message-outside{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 0 1rem;
    padding: 1rem;
    color: white;
    font-weight: bold;
  }
}